/* Buttons */

.body{

  margin-left: auto;
  margin-right: auto;
}

.banniere {
  width: 100%;
  height: 15%;

  margin-left: auto;
  margin-right: auto;
  margin-top: -0.5%;

}
ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  margin-top: -0.2%;
  padding: 1%;
  overflow: hidden;
  background-color: #333;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  background-color: #00b76c;  

}

li {
  float: left;

  margin-left:10%;
  margin-right: auto;
}

li a {
  color: white;
  text-align: left;
  margin-left: 00%;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}

.divpétition{
  margin-left: auto;
  margin-right: auto;
}

.Titre-pétition{
  text-align: center;
  color: red;
  font-family: "Asap Condensed",sans-serif;
  font-size: 1.8vw;
  margin-top: 1%;;
  font-weight: bold;
  display: block;
}

.Sous-Titre-pétition{
  font-family: "Asap Condensed",sans-serif;
    font-weight: bold;
    margin-top: -2%;
    margin-bottom: 5%;
    text-align: center;
    text-transform: uppercase;
  font-size: 3.5vw;  
}

.pétitionimg{
  float: left ;
  margin-top: 1%;
  margin-left: 12%;
  width: 40%;
  border: 5px solid white ;
}

.pétitionboutton {
  float: right;
  margin-right:13%;
  text-align: center;
  margin-top: 4%;
  background: #da091b;
  color: white;
  padding: 1vw ;
  width: 20%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Source Sans Pro",sans-serif;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  font-size: 2vw;
  border: 1px solid #da091b;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-transform:uppercase;

} 
.texte-bouton-signez{
  float: right;
  margin-right: 13%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 0;
  font-size: 1.3vw;
}

.pétitionboutton2 {
  float: right;
  margin-right:13%;
  text-align: center;
  margin-top: 1%;
  background: #da091b;
  color: white;
  padding: 1vw ;
  width: 20%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Source Sans Pro",sans-serif;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  font-size: 2vw;
  border: 1px solid #da091b;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-transform:uppercase;
} 

.texte-bouton-don{
  float: right;
  margin-right: 9%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 0;
  font-size: 1.3vw;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  float: left;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 20px;
  background: #3B5998;
  color: white;
}

.fa-twitter {
  margin-top: 20px;
  background: #55ACEE;
  color: white;
  margin-right: 20px;
}

.fa-instagram {
  margin-top: 20px;
  background: #125688;
  color: white;
  margin-right: 20px;
}

.texte-bouton-partager{
  float: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 69%;
  margin-top: 0%;
  font-size: 1.3vw;
}

.tritre-paragraphe-un{
  text-align: left;
  margin-left: 0.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5vw;
 }

.paragraphe-un{
  font-size: 1.3vw;
  float: left;
  margin-left: 1%;
  margin-top: 1%;
  background-color: #AFF49F;
  border-left: 10px solid #00b76c;
}

.texte-paragraphe-un{
  margin-left: 0.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;	
  font-size: 1.3vw;
}

.image-feuille{
  float: right;
  width: 200px;
  margin-right: 50px;
  margin-top: 10px;
}

.tritre-paragraphe-deux{
  text-align: right;
  margin-right: 0.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5vw;
 }

.paragraphe-deux{
  font-size: 1.3vw;
  float: right;
  margin-right: 1%;
  margin-top: 3%;
  background-color: #AFF49F;
  border-right: 10px solid #00b76c;
}

.texte-paragraphe-deux{
  margin-right: 0.5%;
  text-align: right;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;	
  font-size: 1.vw;

}

.decheterieimage{
  float: left;
  width: 40%;
  border: 5px solid white; 
}

.paragraphe-trois{
  float: left;
  margin-left: 1%;
  margin-top: 3%;
  font-size: 1.3vw;
  background-color: #AFF49F;
  border-left: 10px solid #00b76c;
}

.texte-paragraphe-trois{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;	
  font-size: 1.3vw;
  width: 95%;
  margin-top: 1vw;
  margin-left: 2%;
}





